.navLink {
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}
.navLink:hover {
    color: white;
}
.navUl {
    display: flex;
    gap:90px;
    padding:0px;
}

@media screen and (max-width: 1550px){
    .navUl{
        gap:60px
    }
}